<h1>My tasks</h1>

<div class="form-check">
  <% @tasks.each do |task| %>
  <div>
      <% if task.completed == true %>
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
        <% else %>
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <% end %>
      <label class="form-check-label" for="defaultCheck1">
       <%= link_to "#{task.title}", task_url(task) %>
      </label>
      <%= link_to task_url(task), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
           <i class='far fa-trash-alt'></i>
         <% end %>

    <% end %>
  </div>
</div>

<div class= "btn btn-primary" id='new-task-link'><%=link_to "Add a new task", new_task_url %></div>
